node_modules/
/public/
/resources/
exampleSite/resources/
exampleSite/public/
*.log
*.lock
.env
.disabled-env
/hugo-cache
vendor/
# Avoid accidentally committing files that ought to be in a demo site with LFS
*.jpg
*.png
*.jpeg
*.webp
*.pdf
*.tiff
*.tiff
*.gif
*.mp4
*.bmp
*.gz
*.tgz
*.bz2
*.tbz
*.zip
*.img
*.bin
*.iso