{{/* Control how the image is rendered with these variables. */}}
{{ $class := "" -}}
{{ $height := "" -}}
{{/* When noImageConvert is false, convert all Markdown images to specified format (default 'webp') */ -}}
{{ $convertTo := cond (ne (.Page.Param "noImageConvert") false) "" (.Page.Param "imageConvertTo" | default "webp") -}}
{{ $size := .Page.Params.imageSize | default site.Params.imageSize | default "" -}}
{{/* When noSrcSetMarkdown is false, use specified breakpoints for a srcset (default below) */ -}}
{{ $src := .Destination -}}
{{ $srcset := cond (ne (.Page.Param "noSrcSetDefault") false) "" (.Page.Param "imageSrcSet" | default "480 720 1080 1280 1600 2048") -}}
{{ $width := "" -}}

{{ $finalImage := partial "helpers/process-images.html" (dict
  "convertTo" $convertTo
  "height" $height
  "Page" .Page
  "size" $size
  "src" $src
  "srcset" $srcset
  "width" $width
) -}}

<img class="image{{ with $class }} {{ . }}{{ end }}" src="{{ $finalImage.src }}" alt="{{ .Text }}"{{ with $finalImage.srcsetw }} srcset="{{ delimit . ", " }}"{{ end }}{{ with $finalImage.width }} width="{{ . }}"{{ end }}{{ with $finalImage.height }} height="{{ . }}"{{ end }}{{ with .Title}} title="{{ . }}"{{ end }}>
