// stylelint-disable value-list-max-empty-lines

@import 'dfd-color-variables';

// Colour map.
$colors: (
  black: $black,
  brand-nearblack: $brand-nearblack,
  brand-darker: $brand-darker,
  brand-dark: $brand-dark,
  brand-alt: $brand-alt,
  brand-medium: $brand-medium,
  brand: $brand,
  brand-light: $brand-light,
  brand-extra-light: $brand-extra-light,
  brand-nearwhite: $brand-nearwhite,
  white: $white,

  text: $brand-nearblack,
  text-bg: $brand-nearwhite,
  text-meta: $brand-darker,

  link: $brand-darker,
  link-visited: $brand-nearblack,
  link-hover: $brand-light,
  link-active: $grey-extra-light,

  link-inverted: $brand-light,
  link-visited-inverted: $brand-extra-light,
  link-hover-inverted: $brand-darker,
  link-active-inverted: $brand-darker,

  link-hover-bg: $brand-darker,
  link-hover-bg-inverted: $brand-light,

  border: $brand,
  border-light: $brand-light,
  border-dark: $brand-dark,

  autocomplete: $brand-nearblack,
  autocomplete-bg: $brand-nearwhite,
  autocomplete-select: $brand-extra-light,
  autocomplete-select-bg: $blue,

  body-bg: $brand-nearwhite,
  backdrop: $brand-light,

  mobile-menu: $brand-dark,
  mobile-menu-cover: rgba($black, .2),

  button: $brand-dark,
  button-hover: $brand,
  button-text: $brand-nearwhite,
  button-text-hover: $brand-nearwhite,
  button-disabled: $grey,

  form-error: $red,

  mark-highlight: $red,
  mark-bg: $yellow,

  menu: $brand-extra-light,
  menu-inverted: $brand-dark,
  menu-bg: $brand-dark,
  menu-bg-inverted: $brand-extra-light,

  menu-active: $brand-darker,
  menu-active-inverted: $brand-extra-light,
  menu-active-bg: $brand-extra-light,
  menu-active-bg-inverted: $brand-darker,

  menu-hover: $brand-light,
  menu-hover-inverted: $brand-nearblack,
  menu-hover-bg: $brand-nearblack,
  menu-hover-bg-inverted: $brand-light,

  preview-bg: lighten($yellow, 43%),

  row-header: transparent,
  row-odd: $brand-nearwhite,
  row-even: transparent,

  status: $green,
  status-bg: lighten($green, 62%),
  status-highlight: $nearblack,
  warning: $nearblack,
  warning-bg: lighten($yellow, 45%),
  warning-border: $yellow,
  error: $red,
  error-bg: lighten($red, 57%),

  watermark: $grey-extra-light,

  headings: $brand-nearblack,
  headings-inverted: $brand-nearwhite,
  headings-bg: $brand-light,
  headings-bg-inverted: $brand-darker,

  footers: $brand-darker,
  footers-inverted: $brand-light,
  footers-bg: $brand-light,
  footers-bg-inverted: $brand-darker,

  footers-link: $brand-darker,
  footers-link-inverted: $brand-nearwhite,
  footers-bg-link: $brand-nearwhite,
  footers-bg-link-inverted: $brand-darker,

  code: $brand-nearblack,
  code-bg: $brand-light,

  highlight: $brand-alt,
);
