/// DFD-Zen custom styles

.presentation-pdf {
  margin-left: auto;
  margin-right: auto;
}

.resume-pdf,
.poster-pdf {
  margin-left: auto;
  margin-right: auto;
}

.resume-pdf-iframe,
.poster-pdf-iframe {
  height: calc(1.4 * (100% - 1rem));
  max-width: 100%;
  min-height: 490px;
  min-width: 360px;
  width: 100%;
}

.presentation-pdf-iframe {
  height: calc(.9 * (100% - 1rem));
  max-width: 100%;
  min-height: 240px;
  min-width: 360px;
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .resume-pdf-iframe,
  .poster-pdf-iframe {
    height: calc(1.34 * 26rem);
  }

  .presentation-pdf-iframe {
    height: calc(.85 * 26rem);
  }
}

@media screen and (min-width: 84rem) {
  .resume-pdf-iframe,
  .poster-pdf-iframe {
    height: calc(1.1 * 40rem);
  }

  .presentation-pdf-iframe {
    height: calc(.66 * 40rem);
  }
}

.image.about-photo {
  display: block;
  float: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.image.side-by {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: .4em;
  max-width: 49%;
  vertical-align: middle;

  ~ p {
    display: inline-block;
    max-width: 49%;
  }
}

.main .introduction-card {
  align-self: flex-start;
  flex: 1 1 45%;
  margin-bottom: 1rem;
}

.main .introduction-card a,
.main .about-photo a {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main .introduction-card img,
.main .about-photo img {
  border: 1px solid var(--color-border);
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main .about-photo {
  flex: 1 1 45%;
  display: block;
  margin-bottom: 1rem;
}

.two-image-wrapper {
  align-content: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 48em) {
  .two-image-wrapper {
    align-content: space-between;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .main .about-photo {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 48em) {
  .two-image-wrapper {
    align-content: space-between;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .main .about-photo {
    margin-right: 1rem;
  }
}

.side-by-figure.image {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.side-by-figure.image a {
  display: block;
  height: 100%;
  width: 100%;
}

.side-by-figure.image img {
  height: auto;
  width: 100%;
}

.image.half-width {
  width: 50%;
}

.image.three-quarter-width {
  width: 75%;
}

article .highlight .chroma {
  background-color: var(--color-code-bg);
}

// DFD-Zen Overrides

li > p {
  margin-bottom: 0;
  margin-top: 0;
}

.main .content li sup a {
  min-height: unset;
  min-width: unset;
}

.main .content li a {
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
}

.header .header {
  &__brand {
    max-width: 75%;
  }
}

.sidebar .menu {
  background-color: var(--color-brand-light);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: .1rem;
  padding-left: var(--gutters);
  padding-right: var(--gutters);
  padding-top: .1rem;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  ul {
    @extend %ul-straight-left;
  }
}

.article {
  // DFD-Zen override
  code {
    font-size: var(--fs-xs);
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
  }

  // DFD-Zen override
  pre {
    border-radius: var(--radius-xs);
    padding: 5px;
    border: 1px solid var(--color-border-light);
    background-color: var(--color-text-bg);
    hyphens: none;
    overflow: auto;
    max-height: 300px;
    max-width: 90vw;

    &.chroma {
      max-height: initial;
      overflow-x: scroll;
    }

    & > code {
      display: inline-block;
      white-space: pre;
    }
  }
}

// Zen: Navigation (with DFD-Zen overrides)

.main-menu {
  a {
    background-color: var(--color-brand-dark);
    color: var(--color-text-bg);

    &:active,
    &.active {
      background-color: var(--color-brand-light);
      color: var(--color-link);
    }

    &:hover,
    &:focus {
      background-color: var(--color-brand-light);
      color: var(--color-link-hover);
    }
  }
}

// DFD-Zen overrides

.header {
  &__brand {
    display: flex;
    flex: 1 1 100%;
    max-width: 75%;
  }

  &__logo {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
  }

  &__site-name {
    font-size: var(--fs-xl);
    line-height: 1;
    margin-left: 1rem;
  }

  &__site-link {
    &:link,
    &:visited {
      color: var(--color-text-bg);
    }
  }
}

.sidebar .menu a {
  &:hover,
  &:focus {
    background-color: var(--color-brand-dark);
    color: var(--color-link-hover-inverted);
  }
}

// DFD-Zen overrides

.layout {
  &__header {
    color: var(--color-text-bg);
    padding-block: .7em;

    .header {
      &__logo,
      &__region {
        background-color: var(--color-header-bg);
        color: var(--color-text-bg);
      }

      &__region {
        background-color: var(--color-text-bg);
        color: var(--color-header-bg);
      }

      &__brand {
        a {
          &:hover,
          &:focus {
            background-color: var(--color-brand-light);
            color: var(--color-inverted-link-hover);
          }
        }
      }
    }
  }

  &__footer {
    color: var(--color-text-bg);

    p a {
      color: var(--color-brand-light);
    }
  }
}

.card {
  background-color: var(--color-backdrop);

  header {
    &:hover,
    &:focus {
      background-color: var(--color-link-inverted);

      a {
        background-color: var(--color-link-hover-inverted);

        &:hover,
        &:focus {
          color: var(--color-brand);
        }
      }
    }
  }
}

// DFD-Zen additions

.toc {
  background-color: var(--color-brand-light);
  padding-bottom: .1rem;
  padding-top: .1rem;

  nav {
    font-family: var(--ff-body);
  }
}

// DFD-Zen additions

.content .sitemap-view {
  ul {
    box-sizing: border-box;
    display: block;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;

    > li {
      box-sizing: border-box;
      list-style-position: inside;
      list-style-type: none;

      > a {
        box-sizing: border-box;
        display: block;
        padding: .4em;
        text-decoration: none;

        &:active,
        &:hover {
          box-sizing: border-box;
        }

        span {
          box-sizing: border-box;

          &:active,
          &:hover {
            box-sizing: border-box;
          }
        }
      }

      &:not(section-list-item) > a {
        &:hover,
        &:active {
          color: var(--color-text-bg);
        }

        &:active {
          background-color: var(--color-link-active);
        }

        &:hover {
          background-color: var(--color-link-hover);
        }
      }
    }

    ul .section-list-item {
      padding-inline-start: 2em;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      ul .section-list-item {
        padding-inline-start: 2em;
      }
    }
  }

  a.section-link {
    background-color: var(--color-brand-light);
    border: 1px solid var(--color-border);
    margin-bottom: .4em;

    &:hover,
    &:active {
      color: var(--color-text-bg);
    }

    &:active {
      background-color: var(--color-link-active);
    }

    &:hover {
      background-color: var(--color-link-hover);
    }
  }
}

// DFD-Zen additions

blockquote {
  border-left: solid 4px;
  padding-left: 1rem;
  padding-right: 1em;

  p {
    margin-bottom: 0;

    ~ p {
      margin-top: 1em;
    }
  }
}

// DFD-Zen additions

code,
pre {
  tab-size: 3;
}

// DFD-Zen additions

pre,
pre code {
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-all;
}

// DFD-Zen additions

pre,
.pre {
  white-space: pre-wrap;
}

// DFD-Zen additions

pre code {
  display: block;
  line-height: 2;
  white-space: pre-wrap;
  width: 100%;
}

// DFD-Zen additions

.main .highlight > .chroma > code {
  white-space: pre-wrap;
}

// DFD-Zen additions

.main .highlight > .chroma > code > span {
  word-break: break-all;
  overflow-wrap: break-word;
}

@supports (overflow-wrap: anywhere) {
  .main .highlight > .chroma > code > span {
    overflow-wrap: anywhere;
  }
}

// DFD-Zen overrides

main table {
  background: var(--color-backdrop);
  border: solid 2px;
}

main table:not(.no-responsive-table) {
  @extend %responsive-table;
}

main table:not(.no-zebra-table) {
  @extend %zebra-table;
}

main table tr {
  td,
  th {
    border: solid 1px;
  }

  th {
    border-bottom: 3px groove;
  }
}

// DFD-Zen overrides

.content--endnote {
  border-top: 1px solid;
  margin-left: auto;
  padding: 1.5rem;
  width: fit-content;
}

// DFD-Zen: Paragraphs that are titles (as in sidebar)

p.title {
  // Add vertical rhythm margins.
  @include margin-block(.5);
}

// Zen: Lists

dl,
ol,
ul,
menu {
  // Add vertical rhythm margins.
  @include margin-block(1 .75);
}

// DFD-Zen overrides

.main .content {
  ol,
  ul {
    & > li {
      overflow-wrap: break-word;
    }
  }
}

@supports (overflow-wrap: anywhere) {
  .main .content {
    ol,
    ul {
      & > li {
        overflow-wrap: anywhere;
      }
    }
  }
}

// DFD-Zen overrides

.chroma .line {
  border: 1px dashed;
  width: 100%;
}

.main > .title,
.main > article > header > .title {
  margin-top: .2em;
}

.breadcrumb {
  background-color: var(--color-brand-dark);
  color: var(--color-headings);
  grid-area: breadcrumb;
  padding-inline: var(--gutters);
  outline: 0;

  ul {
    color: var(--color-headings);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none inside;
    margin: 0;
    padding-inline: .6em;

    li {
      display: block;
      min-height: 40px;
      min-width: 40px;
      padding-block: 8px;

      &:last-child::after {
        content: '';
      }

      &::after {
        background-color: var(--color-brand-dark);
        color: var(--color-text-bg);
        content: '>';
        min-width: 40px;
        padding-inline: .1em;
      }
    }

    a {
      background-color: var(--color-brand-dark);
      color: var(--color-text-bg);
      display: inline;
      flex: 1 0 40px;
      padding-inline: .1em;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: var(--color-brand);
        text-decoration: underline;
      }

      &:active {
        background-color: var(--color-brand-light);
        color: var(--color-text);
        text-decoration: underline;
      }
    }
  }
}

@supports (display: grid) {
  .layout {
    &__page {
      display: grid;
      grid-template-areas:
        'head'
        'breadcrumb'
        'nav'
        'top'
        'main'
        'side1'
        'side2'
        'bottom'
        'foot'
        'notice';
      grid-template-rows:
        auto
        auto
        auto
        auto
        1fr
        auto
        auto
        auto
        auto
        auto;
      grid-template-columns: 1fr;
    }

    @include respond-to(xl) {
      &__page {
        grid-template-rows:
          auto
          auto
          auto
          auto
          1fr
          auto
          auto
          auto;
      }

      &__sidebar-first {
        grid-template-areas:
          'head head'
          'breadcrumb breadcrumb'
          'nav nav'
          'side1 top'
          'side1 main'
          'side1 bottom'
          'foot foot'
          'notice notice';
        grid-template-columns:
          1fr
          2fr;
      }

      &__sidebar-second {
        grid-template-areas:
          'head head'
          'breadcrumb breadcrumb'
          'nav nav'
          'top side2'
          'main side2'
          'bottom side2'
          'foot foot'
          'notice notice';
        grid-template-columns:
          2fr
          1fr;
      }

      &__sidebar-two {
        grid-template-areas:
          'head head head'
          'breadcrumb breadcrumb breadcrumb'
          'nav nav nav'
          'side1 top side2'
          'side1 main side2'
          'side1 bottom side2'
          'foot foot foot'
          'notice notice notice';
        grid-template-columns:
          1fr
          2fr
          1fr;
      }
    }
  }
}

a {
  &:hover,
  &:focus {
    background-color: var(--color-brand-light);
  }
}

.toc li a {
  &:hover,
  &:focus {
    background-color: var(--color-brand);
    color: var(--color-link-hover-inverted);
  }
}

.footer a {
  &:hover,
  &:focus {
    color: var(--color-brand-dark);
  }
}
