<!DOCTYPE html>
<html class="nojs" lang="{{ site.LanguageCode | default site.Language.Lang }}" dir="{{ site.Language.LanguageDirection | default "ltr" }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ block "title" . }}{{- $pageTitle := .Title -}}
  {{- if gt (len ($pageTitle | htmlEscape)) 70 -}}
    {{- errorf "%s title '%'s > 70 characters" .TranslationKey $pageTitle -}}
  {{- end -}}
  {{- $pageTitle = .Title -}}
{{- $pageTitle -}}{{ end }}</title>
{{ partial "meta.html" . }}
{{ partialCached "styles.html" . }}
{{- block "head" . }}{{ end }}
{{ partial "meta_json_ld.html" . }}
{{ partial "scripts.html" . }}
{{ partialCached "tracking.html" . }}
{{ if $.Param "math" }}{{ partialCached "math.html" . }}{{ end -}}
</head>

<body class="{{ if .IsPage }}single-page{{ else }}list-page{{ end }}{{ if .IsHome }} front{{ end }}{{ with $.Param "bodyclass" }} {{ . }}{{ end }}">
<div class="page layout__page{{ if $.Param "sidebar" }} layout__sidebar-second{{ end }}">
<header class="header layout__header">
<div class="header__brand">
{{ if $.Param "logo" | default true -}}
<a href="{{ "" | relLangURL }}" title="Home" rel="home" class="header__logo">
{{ $src := ($.Param "logoPath") | default "images/logo.png" -}}
{{/* Control how the logo is rendered with these variables. */}}
{{/* When noImageConvert is false, convert logo to specified format (default 'webp') */ -}}
{{ $convertTo := cond (ne (.Page.Param "noImageConvert") false) "" (.Page.Param "imageConvertTo" | default "webp") -}}
{{/* When noSrcSetDefault is false, use specified breakpoints for a srcset (default below) */ -}}
{{ $logoWidth := ($.Param "logoWidth") -}}
{{ $logoHeight := ($.Param "logoHeight") -}}
{{ $finalImage := (partial "helpers/process-images.html" (dict
  "convertTo" $convertTo
  "height" $logoHeight
  "Page" .Page
  "size" ""
  "src" $src
  "srcset" ""
  "width" $logoWidth
)) -}}
<img src="{{ $finalImage.src }}"{{ with $logoWidth }} width="{{ $logoWidth }}"{{ end }}{{ with $logoHeight }} height="{{ $logoHeight }}"{{ end }}{{ with .Title}} title="{{ . }}"{{ end }} alt="Home"  class="header__logo-image">
</a>
{{ end -}}
{{- $headerTitleElement := "div" -}}
{{- if .IsHome -}}
{{- $headerTitleElement = "h1" -}}
{{- end -}}
{{- (printf "<%s class=\"header__site-name\">" $headerTitleElement | safeHTML) -}}
<a href="{{ "/" | relLangURL }}" title="Home" class="header__site-link" rel="home"><span>{{ site.Title }}</span></a>
{{- (printf "</%s>" $headerTitleElement | safeHTML) -}}
</div>
<div class="region header__region">
{{ if site.IsMultiLingual }}{{ partial "language-selector.html" . }}{{ end -}}
{{ if $.Param "menuinheader" }}{{ partial "menu.html" . }}{{ end -}}
</div>
{{ if $.Param "mobilemenu" }}{{ partial "mobilemenu.html" . }}{{ end -}}
</header>

{{ if not ($.Param "menuinheader") }}{{ partial "menu.html" . }}{{ end -}}

{{ block "main" . }}{{ end }}

{{ if $.Param "sidebar" }}{{ partial "sidebar.html" . }}{{ end -}}

<footer class="footer layout__footer mt--l">
{{ if $.Param "feedlinks" }}{{ partial "feedlinks.html" . }}{{ end -}}
<p>{{ with $.Param "copyright" }}{{ . | markdownify }}{{ else }}<span>© {{ site.Title }}</span>{{ end }}</p>
{{ with $.Param "footer" }}<p>{{ . | markdownify }}</p>{{ end }}
{{ if $.Param "poweredby" }}<p>Powered by <a href="https://gohugo.io/">Hugo</a> and the <a href="https://gitlab.com/danielfdickinson/dfd-hugo-theme-zen">DFD-Zen theme</a>.</p>{{ end }}
</footer>

{{ if $.Param "cookieconsent" }}{{ partialCached "cookieconsent.html" . }}{{ end -}}
</div>
</body>
</html>
