{{ define "title" }}{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} – {{ site.Title }}{{ end }}{{ end }}

{{ define "main" -}}
{{- $pctx := . -}}
{{- $showChildPages := or (cond (isset .Params "showChildPages") (.Params.showChildPages) true) (cond (isset site.Params "showChildPages") (site.Params.showChildPages) true) -}}
{{- if .IsHome -}}
  {{- $showChildPages = or (cond (isset .Params "showChildPages") (.Params.showChildPages) false) (cond (isset site.Params "showChildPages") (site.Params.showChildPages) false) -}}
{{- end -}}

{{- $showChildCards := or (.Param "showChildCards") false -}}

<main class="main layout__main">
{{ if not .IsHome -}}
  <h1 class="title">{{ .Title }}</h1>
{{- end }}

{{ with .Content }}
<div class="content">
{{ . }}
</div>
{{ end }}

{{- $pages := $pctx.Data.Pages -}}
{{- if $pctx.IsHome -}}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end -}}
{{- if $showChildCards -}}
<div class="cards">
{{ range where $pages "Params.card" "eq" true }}
  {{ partial "card.html" (dict "Page" . "Caller" $pctx) -}}
{{ end -}}
</div>
{{- else if $showChildPages }}
{{- $paginator := .Paginate $pages -}}
{{- range $paginator.Pages -}}
{{ partial "summary.html" (dict "Page" . "Caller" $pctx) }}
{{ end -}}

{{ partial "pagination.html" . }}
{{ end }}

{{- if .Page.Params.pageEndnote }}
<hr>
<blockquote>
{{ .Page.Params.pageEndnote | .Page.RenderString }}
</blockquote>
{{ end -}}
</main>
{{ end }}
