{{ $pctx := . -}}

{{ with .Content }}
<div class="content">
  {{ if and ($pctx.Param "toc") (not ($pctx.HasShortcode "details-toc")) }}
  <details>
    <summary>What is in this article</summary>
    <div class="toc">
    {{- $pctx.TableOfContents -}}
    </div>
    </details>
  {{ end }}
  {{ . }}
</div>

{{ with $pctx.Param "page_endnote" -}}
<div class="content content--endnote">
  {{ . | $pctx.RenderString }}
</div>
{{ end -}}

<div class="content content--bottom">
  {{ if $pctx.Param "relatedposts" | default false }}{{ partial "related.html" $pctx }}{{ end -}}

  {{ if ne $pctx.Lastmod $pctx.PublishDate }}{{ partial "dates.html" $pctx }}{{ end -}}
</div>
{{ end }}
