{{ $pctx := . -}}

{{ with .Content }}
<div class="content">
  {{ if and ($pctx.Param "toc") (not ($pctx.HasShortcode "details-toc")) }}
  <details class="print-none">
    <summary>What is in this article</summary>
    <div class="toc">
    {{- $pctx.TableOfContents -}}
    </div>
    </details>
  {{ end }}
  <div class="content--main">
  {{ . }}
  </div>
  {{ with $pctx.Param "page_endnote" -}}
  <div class="content content--endnote">
    {{ . | $pctx.RenderString }}
  </div>
  {{ end -}}

  <div class="content content--bottom">
  {{ if ne $pctx.Lastmod $pctx.PublishDate }}{{ partial "dates.html" $pctx }}{{ end -}}

  {{ if $pctx.Param "relatedposts" | default false }}{{ partial "related.html" $pctx }}{{ end -}}
  </div>
</div>
{{ end }}
