{{- $ctx := . -}}
{{- $pctx := .Page -}}
{{- $caller := .Caller -}}
{{- $showSummaries := (cond (isset $caller.Params "showsummaries") ($caller.Params.showSummaries) true) -}}
{{- if not (isset $caller.Params "showsummaries") -}}
  {{- $showSummaries = (cond (isset site.Params "showsummaries") (site.Params.showSummaries) true) -}}
{{- end -}}
<article class="list-view{{ with $pctx.Section }} list-view--{{ . | urlize }}{{ end }}">
<header>
<h2 class="title {{ if $pctx.Param "submitted" | default false }}title-submitted{{ end }}"><a href="{{ .RelPermalink }}">{{ $pctx.Title }}</a></h2>
{{ if $showSummaries }}
{{ if $pctx.Param "submitted" | default false }}{{ partial "submitted.html" $pctx -}}{{ end }}
{{ end }}
</header>
{{ if $showSummaries }}
<div class="content">
<p>{{ $pctx.Summary }}</p>
</div>
{{ end }}
</article>
