{{- $curPage := .Page -}}
{{- $dataResource := false -}}
{{- $dataResourceLink := "" -}}
{{- $external := false -}}
{{- with .Get "data" -}}
  {{- $path := . -}}
  {{- $fragment := . -}}
  {{- $query := . -}}
  {{- with urls.Parse . -}}
    {{- if or .Host .Scheme -}}
      {{- $external = true -}}
    {{- end -}}
    {{- $path = .Path -}}
    {{- $fragment = .Fragment -}}
    {{- $query = .Query -}}
  {{- else -}}
    {{- errorf printf "Unable to parse pdf src '%s'" . -}}
  {{- end -}}
  {{- if and $path (not $external) -}}
    {{- /* For compatibility with Git repos, strip relative paths; the repos need them */ -}}
    {{- /* but resources expect a different 'root' */ -}}
    {{- if hasPrefix $path ".." -}}
      {{ $newPath := "" -}}
      {{ $doneRelStrip := false -}}
      {{- range split $path "/" -}}
        {{- if or (ne . "..") $doneRelStrip -}}
          {{- $newPath = path.Join $newPath  . -}}
          {{- $doneRelStrip = true -}}
        {{- end -}}
      {{- end -}}
      {{- if ne $newPath "" -}}
        {{- $path = $newPath -}}
      {{- end -}}
    {{- end -}}
    {{- /* Prefer page bundle assets */ -}}
    {{- $pdfResources := $curPage.Resources.ByType "application/pdf" -}}
    {{- $dataResource = $pdfResources.GetMatch (printf "*%s*" $path) -}}
    {{- /* Next prefer assets from 'assets' directory */ -}}
    {{- if not $dataResource -}}
      {{- $dataResource = resources.Get $path -}}
    {{- end -}}
  {{- end -}}
  {{- if $dataResource -}}
    {{- $dataResourceLink = $dataResource.Permalink -}}
    {{- if and $fragment $dataResourceLink -}}
      {{- $dataResourceLink = printf "%s#%s" $dataResourceLink $fragment -}}
    {{- end -}}
    {{- if and $query $dataResourceLink -}}
      {{- $dataResourceLink = printf "%s?%s" $dataResourceLink $query -}}
    {{- end -}}
  {{- else -}}
    {{- $dataResourceLink = . -}}
  {{- end -}}
{{- end -}}
<div{{ with .Get "class"}} class="{{ . }}"{{ end }}><iframe{{ with .Get "iframe-class" }} class="{{ . }}"{{ end }}{{ with $dataResourceLink }} src="{{ . }}"{{ end }}{{ if .Get "width" }} width="{{ .Get "width" }}"{{ end }}{{ if .Get "height" }} height="{{ .Get "height" }}"{{ end }} type="application/pdf"{{ with (.Get "title") }} title="{{ . }}"{{ end }}{{ with (.Get "aria-label") }} alt="{{ . }}"{{ end }}></iframe></div>
